body, html {
    height: 100%;
}
.banner {
    position: fixed;
    height: 115px;
    width: 100vw;
    background-color: white;
    z-index: 3;
}
.container {
    float: left;
    position: fixed;
    max-width: 230px;
    height: 100vh;
    z-index: 3;
}
#logo {
    position: fixed;
    width: 200px;
    margin-top: 30px;
    margin-bottom: 60px;
    z-index: 3;
}
.panel {
    width: 200px;
}
.panel-group {
    position: absolute;
    top: 60px;
}
.panel-heading {
    margin-left: 15px;
}
.panel, .panel-default, .panel-heading, .list-group, li {
    border: 0 !important;
    box-shadow: none!important;
    background: transparent !important;
    z-index: -1 !important;
}

/* Main titles div */
.panel-title {
    text-transform: uppercase;
    cursor: pointer;
}
/* main titles */
.main {
    font-size: 12px;
}
/* Subheadings */
.sub {
    margin-left: 20px;
    text-transform: none;
    font-size: 12px;
}
span {
    float: right;
}
/* Subheading div */
.list-group {
    cursor: pointer;
    margin-left: 45px;
}

/* Subheadings */
li {
    font-size: 12px;
    
}
/* About Me toggle button */
.toggle {
    position: fixed;
    top: 55px;
    right: 75px;
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 5;
}
.toggle:before {
    content: '+';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
    text-align: center;
    line-height: 25px;
    width: 100%;
    height: 95%;
    color: #fff;
    border-radius: 50%; 
    background: rgba(0, 0, 0, 0.25);
    font-weight: bold;
    transition: 0.5s;
    z-index: 5;
}
.toggle.active:before {
    transform: rotate(405deg);
    background: #fff;
    color: #000;
}
/* the black background that comes in */
.overlay {
    position: fixed;
    width: 3vw;
    height: 3vw;
    transition: transform 1s;
    z-index: -1;
}
/* animation that happens after activation */
.overlay.active {
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    transform: scale(200, 200);
    background: #000;
    z-index: 4;
}
/* content on black-background */
.overlay-content {
    position: fixed;
    width: 100%;
    height: 95%;
    top: 10vw;
    z-index: 3;
    visibility: hidden;
}
/* content that appears after activation */
.overlay-content.active {
    position: fixed;
    height: 100%;
    visibility: visible;
    z-index: 4;
}
#logo2 {
    position: absolute;
    top: 125px;
    display: inline-block;
    width: 200px;
    margin-left: 15px;
    margin-bottom: 60px;
}
.links {
    position: absolute;
    z-index: 5;
}
#about {
    width: 65vw;
    float: left;
    display: inline-block;
    color: #FFF;
    position: absolute;
    left: 32vw;
    top: 150px;
    max-width: 55vw;
    min-width: 250px;
    margin-right: 50px;
    font-size: 16px;
    line-height: 30px;
}
br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 100%;
}
.overlay-content ul {
    position: absolute;
    padding-left: 30px;
    top: 225px;
}
.overlay-content li {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    width: 100px !important;
    background-color: rgba(0, 0, 0, 0)  !important;
}
.overlay-content li a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}
.overlay-content:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
}

.hamburger {
    position: fixed;
    top: 57px;
    right: 25px;
    width: 25px;
    height: 25px;
    z-index: 3;
}
.hamburger span {
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: grey;
}

.arrow {
    position: absolute;
    font-size: 25px;
}
i {
    border: solid grey;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 8px;
}
.left {
    transform: rotate(1355deg);
    -webkit-transform: rotate(135deg);
    top: 35px;
    left: 5px;
}
.nav {
    height: 95%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.925);
    padding-top: 60px;
}

.sidenav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.menu-title {
    position: absolute;
    width: 150px;
    height: 50px;
    top: 30px;
}
.menu-title p {
    text-transform: uppercase;
    font-size: 14px;
    position: absolute;
    left: 30px;
    top: 0px;
}


/* project pages */
.project-nav {
    position: fixed;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.85);
}




/* Project HTML - parallax part*/

.parallax-img {
    height: 100vh;
    /* parallax scrolling effect styling */
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: 75% auto;
    -moz-background-size: 75% auto;
    -o-background-size: 75% auto;
    background-size: 75% auto;
    max-width: 100%;
}
#img1-1 {
    background-image: url(Images/dded/Picture1.jpg);   
}
#textimg-1 {
    background-image: url(Images/dded/p2-text1.png)
}
#img1-2 {
    background-image: url(Images/dded/Capture.jpg);   
}
#img1-3 {
    background-image: url(Images/dded/portfo-image6-1.png);   
}
#img1-4 {
    background-image: url(Images/dded/Picture2.png);   
}
/* title block */
.parallax-text {
    position: absolute;
    top: 50%;
    padding-top: 50px;
    padding-left: 0;
    width: 90%;
    height: 250px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
    z-index: 1;
}
.parallax-title {
    margin-left: 5vw;
    width: 65vw;
    font-size: 26px;
    color: white;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
}
.parallax-info {
    font-size: 14px;
    font-style: italic;
}
.parallax-description, .parallax-info {
    text-align: left;
    text-transform: none;
    margin-left: 5vw;
    color: white;
    max-width: 50vw;
}
/* 2nd text */
.project-description {
    position: absolute;
    top: 2150px;
    padding-top: 50px;
    padding-left: 0;
    width: 22vw;
    height: 500px;
    z-index: 1;
}
.parallax-description {
    color: black;
    padding-right: 25px;
}
.parallax-description p {
    font-size: 12px;
}