body {
    height: 100%;
}
html {
    overflow-y: hidden;
    overflow-x: hidden;
}
.main-container {
    width: 100vw;
    height: 100vh;
    background-color: black;
}
#bkg {
    width: 100vw;
    opacity: 0.2;
    z-index: 2;
    animation: animated 3s cubic-bezier(0, 0.25, 0.1, 1);
}

@keyframes animated {
    0% {
        opacity: 0;
        transform: translateX(-10em);
    }
    100% {
        opacity: 0.2;
        transform: none;
    }
}

.logo-svg {
    width: 50vw;
    position: absolute;
    top: 40vh;
    left: 66%;
    transform: translate(-50%, -50%);
}

.styling {
    fill: white;
    stroke: white;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.logo-svg path {
    stroke: #fff;
    fill: #fff;
    stroke-dasharray: 3200;
    opacity: 1;
    animation: animate 3s cubic-bezier(0, 0.23, 1, 0.1);
}

@keyframes animate {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 3200;
    }
    30% {
        opacity: 10;
        fill: none;
        stroke-dashoffset: 3200;
    }
    95% {
        fill: rgba(255, 255, 255, 0);
    }
    100% {
        opacity: 10;
        fill: rgba(255, 255, 255, 1);
        stroke-dashoffset: 0;
    }
}


.face-svg {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
}

.face-styling {
    fill: none;
    stroke: white;
    stroke-width:  6;
    stroke-miterlimit: 10;
}

.face-svg path {
    stroke: #fff;
    fill: none;
    stroke-dasharray: 11000;
    opacity: 1;
    animation: animates 4s cubic-bezier(0, 0.23, 1, 0.1);
}

@keyframes animates {
    0% {
        opacity: 0;
        stroke-dashoffset: 11000;
    }
    1% {
        opacity: 0.5;
        stroke-dashoffset: 11000;
    }
    10% {
        opacity: 0.75;
        stroke-dashoffset: 11000;
    }
    25% {
        opacity: 1;
        stroke-dashoffset: 11000;
    }
    100% {
        opacity: 10;
        stroke-dashoffset: 0;
    }
}

.next {
    position: fixed;
    top: 57px;
    right: 25px;
    width: 150px;
    height: 25px;
    z-index: 3;
}

.arrow {
    position: absolute;
    font-size: 25px;
    z-index: 3;
}
i {
    border: solid;
    border-color: rgba(255, 255, 255, 0.75);
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 8px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    top: 4px;
    right: 58px;
    animation: animating 5.15s cubic-bezier(0, 0.23, 1, 0.1);
}
#homepage-text {
    font-size: 14px;
    line-height: 25px;
    right: 75px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    cursor: pointer;
    animation: animating 5.15s cubic-bezier(0, 0.23, 1, 0.1);
}
#homepage-text:hover {
    color: #80d4ff;
}

@keyframes animating {
    0% {
        opacity: 0;
    }
    77% {
        opacity: 0.1;
    }
    83% {
        opacity: 1;
    }
    84% {
        -webkit-transform: translateX(0);
    }
    88% {
        -webkit-transform: translateX(1em);
    }
    92% {
        -webkit-transform: translateX(0);
    }
    96% {
        -webkit-transform: translateX(1em);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

